
.App {
 text-align: center;
}



body{
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

/* #column-login{
  margin-top: 200px;
} */

#navbar {
  background-color: gray;
  /* position: fixed; */
}

#form-group {
  display:flex;
  justify-content:center;
  align-items:center;
}

.profile-container {
  margin-top: 30px;
  width: 300px;
  margin: 0 auto
}

#date-container{
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
}

#login-card {
 opacity: 0.5;
 top: 40%;
 left: 50%;
 position: fixed;
 transform: translate(-50%, -50%);
}

#login-card:hover {
  opacity: 1.0;
}

#sign-up-div{
  background-image: url("https://images.pexels.com/photos/1117493/pexels-photo-1117493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

#signup {
  opacity: 0.5;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

#signup:hover {
  opacity: 1.0;

}

#footer {
  height: 60px;
  background-color: #A8FC00;
  left:0px;
  bottom:0px;
  width:100%;
}

#search-bar {
  padding-top: 50px;
}

#logout-button {
  float: right;
  margin-left: 30px;
  background-color: transparent;
}

#logout-button:hover {
  color: red;
}

.container {
  display: flex;
}

.container.space-around {
  justify-content: space-around;
}

#profile-pic {
  padding-top: 30px;
  margin: 0 auto;
  padding-bottom: 30px;
}

#profile-icons {
  padding-top: 60px;
}

#profile-info {
  padding-top: 40px;
  text-align: center;
}

#profile-edit-button{
  padding-top: 40px;
}

#edit-button{
  background-image: linear-gradient(to bottom right, #5400FC, #A8FC00);
  font-style: italic;
}


#exercise-page {
  text-align: center;
  padding-top: 20px;
  margin: 0 auto
}

#all-exercises {
  padding-top: 40px;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

#header-site{
  background-image: linear-gradient(to bottom right, #5400FC, #A8FC00);
   /* background-color: #D3D3D3; */
   background-position: 100% 100%;
   background-repeat: no-repeat;
}

#workout-container {
  text-align: center;
  padding-top: 30px;
  margin: 0 auto
}

#workout-options {
  opacity: 1.0;
  background-image: url("https://images.pexels.com/photos/1430827/pexels-photo-1430827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding-top: 230px;
}


#close-icon-modal {
  float: right;
}

#old-workout-detail{

}

#html-input {
  border-top: 0px solid transparent;
  margin-left:
  mrgin
}

#add-set {
  padding-top: 10px;
  color: blue;
}

#form {
  padding-top: 10px;
}

#motivation-button{
  margin-bottom: 30px;
}

#add-set {
  padding-bottom: 20px;
}

#check {
  color: #A8FC00;
}

#workout-info{
  margin: 0 auto;
  width: 80%;
  margin-top: 40px;
}

#wo-name-input {
  font-size: 60px ;
  color: white;
}

#wo-name-input::placeholder{
  color: white;
}

#main-image {
  width: 100%;
  height: 100vh;
}

/* #logo-img {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
} */

#wo-name-input {
  font-size: 40px;
}

#home-search {
  margin: 0 auto;
  display: block;
}

#add-button {
  background-color: #A8FC00;
}

#already-added {
  float: right;
  color: #A8FC00;
  font-style: italic;
  background-color: gray;
}

#background-img{
  background-image: url("https://media.istockphoto.com/photos/lace-up-for-the-workout-of-your-life-picture-id618982838?k=6&m=618982838&s=612x612&w=0&h=Nst2TzKtZha_KJvCJaicDyRqdsR0HcvMTR624D7uNwc=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

#search-bar{
  background-color: white;
  margin: 0 auto;
  padding-top: 0;
  padding-right: 0;
  margin-top: 50px;
  width: 200px;
}

#bar {
  color: gray;
  margin: 0 auto;
}

#sidebar{
  background-color: blue;
  opacity: 0.8;
}

#slide-button{
  color: #A8FC00;
}

#menu-text{
  color: white;
  font-weight: bold;
}

#nav {
  background-color: #A8FC00;
}

#table-cell{
  background-color: lightgray;
}

#checkbox {
  margin-left: 10px;
}

#input-header h4 {
  display: inline;
  margin-left: 40px;
  margin-right:70px;
}

#no-exercises-message{
  margin: 30% auto;
}

#remove-exercise-text{
  color: red;
  float: right;
}

#stats{
  text-align: center;
  padding-top: 20px;
}

#workout-stats{
  font-size: 40px;
  color: gray;
}

#redo-workout {
  color: white;
  text-align: center;
}

#arrow{
  color: #A8FC00;
}

#log-in{
  color: white;
  background-color: gray;
  opacity: 1.0;
}

#sign-up{
  background-color: blue;
  color: white;
  opacity: 1.0;
}

#login-page{
  background-image: url("https://images.pexels.com/photos/1117493/pexels-photo-1117493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

#account-information{
  padding-top: 25px;
}

#cancel-workout-button{
  display: block;
  margin: 10px auto;

}
