
.App {
 text-align: center;
}

body{
  background-color: white
}

/* #column-login{
  margin-top: 200px;
} */

#form-group {
  display:flex;
  justify-content:center;
  align-items:center;
}

.profile-container {
  margin-top: 30px;
  width: 300px;
  margin: 0 auto
}

.navbar{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  text-align: center;
  background-color: red;
}

#login-card {
 position: fixed;
 top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);
}

#signup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#footer {
  height: 60px;
  background-color: #A8FC00;
  position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}

#navbar {
  height: 60px;
  background-color: #A8FC00;
  position:fixed;
   left:0px;
   top: 0px;
   bottom:0px;
   width:100%;
   background-color: transparent;
}

#search-bar {
  padding-top: 50px;
}

#logout-button {
  float: right;
  margin-left: 30px;
  background-color: transparent;
}

#logout-button:hover {
  color: red;
}

.container {
  display: flex;
}

.container.space-around {
  justify-content: space-around;
}

#profile-pic {
  padding-top: 30px;
  margin: 0 auto;
  padding-bottom: 30px;
}

#profile-icons {
  padding-top: 60px;
}

#profile-info {
  padding-top: 40px;
  text-align: center;
}

#profile-edit-button{
  padding-top: 40px;
}

#edit-button:hover {
  background-color: #5400FC;
  color: white;
}

#exercise-page {
  text-align: center;
  padding-top: 30px;
  margin: 0 auto
}

#all-exercises {
  padding-top: 60px;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

#header-site{
   background-color: #D3D3D3;
   background-position: 100% 100%;
   background-repeat: no-repeat;
}

#workout-container {
  text-align: center;
  padding-top: 30px;
  margin: 0 auto
}

#workout-options {
  padding-top: 230px;
  font-size: 30px;
}

#date-container{
  padding-top: 50px;
  float: left;
}

#date-segment {
  font-size: 15px;
}

#date-segment:hover {
background-color: lightgray;
}

#close-icon-modal {
  float: right;
}
